<div id="<%= dom_id element %>">
  <!--
  <p>
    <strong>Name:</strong>
    <%= element.name %>
  </p>

  <p>
    <strong>Symbol:</strong>
    <%= element.symbol %>
  </p>
  -->

  <p>
    <strong>Name - Symbol: </strong>
    <%= element.name_symbol %>
  </p>

  <p>
    <strong>Atomic Number:</strong>
    <%= element.atomic_number %>
  </p>

  <p>
    <strong>Atomic Mass:</strong>
    <%= element.atomic_mass %>
  </p>

</div>
